html {
	background: lightgray;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

#main {
	width: 800px;
	background: white;
	margin: 0 auto;
}

#top {
	padding: 10px;
	border-bottom: 4px solid black;
	margin-bottom: 4px;
}

#middle {
}

#navigation {
	float: left;
	width: 200px;
	background: gray;
}

#nav-list {
	padding: 0;
	margin: 1px;
}

.nav {
	border-radius: 2px;
	list-style: none;
	padding: 15px;
	margin: 2px;
}

.nav-link {
	text-decoration: none;
	color: black;
}

.nav-inactive {
	border-bottom: 3px solid #031168;
	border-top: 1px solid #3148DA;
	background: #0D2AE0;
}

.nav-inactive:hover {
	border-bottom: 3px solid #071EAA;
	border-top: 1px solid #071EAA;
	background: #071EAA;
}

.nav-active {
	border-bottom: 3px solid #FD000D;
	border-top: 1px solid #FD000D;
	background: #FD000D;
}

#content {
	padding-left: 10px;
	float: left;
	width: 580px;
}

#bottom {
	clear: both;
}