html {
	background: darkgray;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

#main {
	width: 800px;
	background: white;
	margin: 0 auto;
	border-top: 2px solid gray;
	border-bottom: 2px solid lightgray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: 3px;
}

#top {
	padding: 10px;
	border-bottom: 2px solid lightgray;
}

#middle {
	border-top: 2px solid gray;
	padding-top: 4px;
}

#navigation {
	float: left;
	width: 200px;
}

#nav-list {
	padding: 0;
	margin: 1px;
}

.nav {
	list-style: none;
	padding: 15px;
	margin: 4px;
	border-radius: 2px;
}

.nav-link {
	text-decoration: none;
	color: black;
}

.nav-inactive {
	border-bottom: 3px solid gray;
	border-top: 3px solid lightgray;
	background: darkgray;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
}

.nav-inactive:hover {
	border-bottom: 3px solid darkgray;
	border-top: 3px solid darkgray;
	background: darkgray;
	border-right: 1px solid darkgray;
	border-left: 1px solid darkgray;
}

.nav-active {
	border-bottom: 3px solid lightgray;
	border-top: 3px solid lightgray;
	background: lightgray;
}

#content {
	padding-left: 10px;
	float: left;
	width: 580px;
}

#bottom {
	clear: both;
}