html {
	background: lightgray;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
}

#main {
	width: 800px;
	background: white;
	margin: 0 auto;
}

#top {
	padding: 10px;
	border-bottom: 4px solid black;
}

#middle {

}

#navigation {
	float: left;
	width: 200px;
	background: gray;
}

#nav-list {
	padding: 0;
	margin: 3px;
}

.nav {
	border-radius: 15px;
	border: 2px solid black;
	background: cyan;
	list-style: none;
	padding: 15px;
	margin: 5px;
}

.nav-link {
	text-decoration: none;
	color: black;
}

.nav-inactive:hover {
	background: blue;
}

.nav-active {
	background: red;
}

#content {
	padding-left: 10px;
	float: left;
	border: 2px solid cyan;
}

#bottom {
	clear: both;
	border: 2px solid cyan;
	padding: 10px;
}