.publication {
	padding-bottom: 15px;
}

.publication-title {
	text-decoration: underline;
}

.publication-name {
	margin-left: 10px;
	font-size: 13px;
}

.publication-me {
	border-bottom: 1px black dashed;
}

.publication-location {
	margin-left: 10px;
	font-size: 13px;
	font-style: italic;
}

.publication-links {
	display:inline-block;
	margin-left: 10px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid black;
	border-radius: 3px;
	background: lightgray;
}

.publication-note {
	margin-left: 15px;
	font-size: 11px;
}